 <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Gimple Viewer</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>

  <div id="app">
    <div id="left">
      <div>
        <button v-on:click="compile">Run</button>
      </div>

      <div id="code">{{ code }}</div>
    </div>

    <div id="right">
      <select v-model="selected">
        <option v-for="pass in passes" v-bind:value="pass.num">{{ pass.num }}: {{ pass.pass }}</option>
      </select>

      <div id="output" style="height: 400px"></div>
    </div>
  </div>

  <script src="/frontend.js"></script>
</body>

</html>
